<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutCoverageMetadata="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".build/phpunit/unit/"
    cacheResult="true"
    colors="true"
    columns="max"
    displayDetailsOnIncompleteTests="true"
    displayDetailsOnSkippedTests="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnTestsThatTriggerErrors="true"
    displayDetailsOnTestsThatTriggerNotices="true"
    displayDetailsOnTestsThatTriggerWarnings="true"
    executionOrder="random"
    requireCoverageMetadata="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
>
    <coverage includeUncoveredFiles="true"/>
    <extensions>
        <bootstrap class="Ergebnis\PHPUnit\SlowTestDetector\Extension"/>
    </extensions>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <directory>src/Test/</directory>
        </exclude>
    </source>
    <testsuites>
        <testsuite name="Tests">
            <directory>src/Test/</directory>
        </testsuite>
    </testsuites>
</phpunit>
